@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}


#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 4px 10px rgba(100, 65, 0, 0.1);
  z-index: 1000;
  background:#f5e1d0;
  color: #443106;
}

#cabecalho h1 {
  font-size: 25px;
  color: #443106;
  margin: 0;
  font-weight: 600;
}

#menu a {
  text-decoration: none;
  color: #443106;
  font-weight: 600;
  font-size: 15px;
  transition: color 0.3s;
}

#menu a:hover {
  color: #443106;
}

#menu ul {
  list-style: none; /* remove as bolinhas da lista */
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#menu li {
  margin: 0 25px;
}

body {
  background-image: url("../img/Imagens/fundo-de-textura.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding-top: 80px; /* espaço pro cabeçalho fixo */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  width: 800px;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

/*TÍTULO DO FORM */
.header {
  padding: 5px;
  text-align: center;
  color: #443106;
  text-shadow: 4px 4px 10px rgba(100, 65, 0, 0.2);
}

/* FORMULÁRIO EM DUAS COLUNAS*/
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form-control {
  position: relative;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.form-control label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 5px 8px;
  border-radius: 5px;
}

.form-control input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  padding: 8px;
}

.form-control i {
  position: absolute;
  top: 52px;
  right: 30px;
  visibility: hidden;
  font-size: 16px;
}

.form-control small {
  visibility: hidden;
  color: #e74c3c;
  font-size: 13px;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.error .bi-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error .bi-check-circle {
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.success .bi-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.success .bi-exclamation-circle {
  visibility: hidden;
}

.form-control.success small {
  visibility: hidden;
}

.form button {
  grid-column: span 2;
  justify-self: center;
  background: linear-gradient(145deg, #cead71, #f5e1d0);
  color: #443106;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(100, 65, 0, 0.1);
  transition: all 0.3s ease;
  width: 150px;
}

.form button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(100, 58, 0, 0.2);
}
