@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 4px 10px rgba(100, 65, 0, 0.1);
  background:#f5e1d0;
  text-decoration: none;
}
#cabecalho a {
  text-decoration: none;
  color: #443106;
}

#cabecalho h1 {
  font-size: 25px;
  color: #443106;
  margin: 0;
  font-weight: 600;
}

#menu a {
  text-decoration: none;
  color: #443106;
  font-weight: 600;
  font-size: 15px;
  transition: color 0.3s;
}

#menu a:hover {
  color: #443106;
}

#menu ul {
  list-style: none; /* remove as bolinhas da lista */
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#menu li {
  margin: 0 25px;
}
body {
  /*box-shadow: 0 4px 10px rgba(100, 65, 0, 0.1);
  background: linear-gradient(145deg, #cead71, #f5e1d0);*/
  background-image: url("../img/Imagens/fundo-de-textura.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding-top: 85px; /* espaço pro cabeçalho fixo */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.container {
  width: 500px;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.containerUsu {
  width: 800px;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

/*TÍTULO DO FORM */
.login {
  padding: 5px;
  text-align: center;
  color: #443106;
  text-shadow: 4px 4px 10px rgba(100, 65, 0, 0.2);
}

.form-control {
  position: relative;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  padding: 8px;
  background-color: #fff;
}

.form-control label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 5px 8px;
  border-radius: 5px;
}

.form-control input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  padding: 9px;
}

.form-control i {
  position: absolute;
  top: 52px;
  right: 30px;
  visibility: hidden;
  font-size: 16px;
}

.form-control small {
  visibility: hidden;
  color: #e74c3c;
  font-size: 13px;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.error .bi-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error .bi-check-circle {
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.success .bi-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.success .bi-exclamation-circle {
  visibility: hidden;
}

.form-control.success small {
  visibility: hidden;
}

.btnEntrar {
  display: block;
  margin: 0 auto;
  justify-content: center;
  background: linear-gradient(145deg, #cead71, #f5e1d0);
  color: #443106;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(100, 65, 0, 0.1);
  transition: all 0.3s ease;
  width: 100px;
  align-items: center;
  margin-top: 10px;
}

.btnCadastrar {
  display: block;
  margin: 0 auto;
  justify-content: center;
  background: linear-gradient(145deg, #cead71, #f5e1d0);
  color: #443106;
  border: none;
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(100, 65, 0, 0.1);
  transition: all 0.3s ease;
  width: 150px;
  align-items: center;
  margin-top: 7px;
  grid-column: span 2;
}

.form button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(100, 58, 0, 0.2);
}

.formUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/* ÁREA ADMINISTRATIVA */
.adm_body {
  flex-direction: column; /* colocar o titulo e o botão de sair em coluna */
  align-items: center;
  padding-top: 5px;
}

.adm_title {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100%;
  padding-top: 20px;
}

.sair-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  margin-top: 10px;
}

.sair {
  display: inline-block;
  background: #cead71;
  color: #443106;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 15px;
  box-shadow: 0 4px 10px rgba(100, 65, 0, 0.1);
  text-decoration: none;
}

.card-container {
  margin-top: 10px;
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.card {
  background: #fafafa;
  padding: 18px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(100, 65, 0, 0.1);
}

.card a {
  text-decoration: none;
  color: #443106;
  font-weight: 600;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}


/* ÁREA ADMINISTRATIVA LISTA DE VEÍCULOS */
.container_adm {
  width: 1000px;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(100, 65, 0, 0.3);
  padding: 20px;
  overflow: hidden; /* para o cabeçalho ficar fixo e arredondado */
  flex-shrink: 0; /* não encolhe para dar espaço ao footer */ /*empurra o conteúdo para baixo*/
}

.adm {
  padding: 5px;
  color: #443106;
  text-shadow: 4px 4px 10px rgba(100, 65, 0, 0.2);
}

.lista {
  width: 100%;
  border-radius: 10px;
}

.lista thead {
  text-align: left;
  font-weight: 600;
}

/* ficar fixo ao rolar o cabeçalho dentro do container */
.lista thead th {
  top: 0;
  padding: 14px 16px;
  font-weight: 600;
  border-bottom: 1px solid #443106; /* linha do header mais forte */
  z-index: 2;
  text-align: center;
}

.lista tbody tr {
  background: transparent;
  transition: background-color .18s ease, transform .12s ease;
}


/* Zebra rows */
.lista tbody tr:nth-child(even) {
  background: rgba(182, 165, 133, 0.05);
}

/* Hover na linha */
.lista tbody tr:hover {
  background: rgba(100, 58, 0, 0.2);
  transform: translateY(-1px);
}

/* Células */
.lista td {
  padding: 12px 16px;
  border-bottom: 1px solid #eeeae2;
  vertical-align: middle;
  text-align: center;
}

/* RODAPE */
#footer {
  width: 100%;
  display: flex;
  font-weight: 600;
  margin-top: 40px;
}

.rodape {
  background-color: #f5e1d0;
  padding: 7px;
  width: 100%;
}

.rodape p {
  text-align: center;
  margin: 0;
  padding: 0;
}

